@font-face {
    font-family: TwitterChirp;
    src: url(https://abs.twimg.com/responsive-web/client-web/Chirp-Light.3a18e64a.woff2) format("woff2"), url(https://abs.twimg.com/responsive-web/client-web/Chirp-Light.7a5673aa.woff) format("woff");
    font-weight: 300;
    font-style: "normal";
    font-display: "swap";
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button:focus, input:focus, textarea:focus {
	outline: 0;
}

body {
	font-family: TwitterChirp;
	background: #657786;
	color: #ffffff;
}

.container {
	max-width: 1200px !important;
}

/*black: 
blue: */

.twitter_wrapper {
	padding: 80px 0;
}

.twitter_wrapper h2 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 30px;
}

.twitter_wrapper h2 span {
	  color: #1DA1F2;
}

.twitter_wrapper .twitter_item {
	  position: relative;
	  border-radius: 10px;
	  overflow: hidden;
	  background: #ffffff;
	  margin-top: 40px;
}

.twitter_wrapper .twitter_item figure {
    width: 100%;
    height: 390px;
    overflow: hidden;
}

.twitter_wrapper .twitter_item:hover figure img {
	  transform: scale(1.10);
}

.twitter_wrapper .twitter_item figure img {
	  width: 100%;
	  height: 100%;
	  object-fit: cover;
	  transition: 0.4s all ease-in-out;
}

.twitter_wrapper .twitter_item .twitter_content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 20px;
    transition: 0.4s all ease-in-out;
}

.twitter_wrapper .twitter_item .twitter_content .twitter_bg {
    background: #1DA1F2;
    padding: 15px 25px;
    border-radius: 10px;
    text-align: center;
    transition: 0.4s all ease-in-out;
}

.twitter_wrapper .twitter_item:hover .twitter_bg {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.twitter_wrapper .twitter_item .twitter_content h3 {
    font-size: 20px;
    font-weight: 700;
}

.twitter_wrapper .twitter_item .twitter_content span {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
}

.twitter_wrapper .twitter_item .twitter_content p {
    font-size: 14px;
    margin: 15px 0 0 0;
}

.twitter_wrapper .twitter_item .twitter_content ul {
	 list-style: none;
}

.twitter_wrapper .twitter_item .twitter_content ul li {
	 display: inline-block;
}

.twitter_wrapper .twitter_item .twitter_content ul li a {
    width: 35px;
    height: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 20px 5px 0 5px;
    color: #ffffff;
    transition: 0.4s all ease-in-out;
}

.twitter_wrapper .twitter_item .twitter_content ul li a:hover {
	  text-decoration: none;
	  opacity: 0.7;
}

.twitter_wrapper .twitter_item .twitter_content ul li .bg1 {
	 background: #2f55a4;
}

.twitter_wrapper .twitter_item .twitter_content ul li .bg2 {
	  background: #14171A;
}

.twitter_wrapper .twitter_item .twitter_content ul li .bg3 {
	  background: #0077B5;
}

.twitter_wrapper .twitter_item:hover .twitter_sub {
	  display: block;
	  opacity: 1;
}

.twitter_wrapper .twitter_item .twitter_sub {
		display: none;
		opacity: 0;
		transition: 0.4s all ease-in-out;
}

.twitter_wrapper .twitter_item:hover .twitter_content {
	  width: 100%;
	  height: 100%;
}

